@import-normalize; /* bring in normalize.css styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Avenir Next",
    Avenir, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  // overflow: hidden;
  color: #fff;
  background: #a0cfe4;
}

// todo: refactor this to .main
#root {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

// .header {
//   position: relative;
//   z-index: 10000;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   width: 100%;
//   padding: 0.8em 1.5em 3em;
// }

// @media screen and (max-width: 43.25em) {
//   .header {
//     font-size: 0.85em;
//     padding-bottom: 1em;
//     background: rgba(112, 155, 183, 0.21);
//   }
// }

// .header__main {
//   display: inherit;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
// }

// .header__title {
//   font-size: 1em;
//   margin: 0;
//   padding: 0;
//   color: #435965;
// }

// .custom-select {
//   color: #fff;
//   position: relative;
//   display: block;
//   border-bottom: 1px solid;
//   margin: 0 0 0 auto;
// }

// .custom-select::after {
//   content: " ";
//   position: absolute;
//   top: 50%;
//   right: 0.75em;
//   z-index: 2;
//   pointer-events: none;
//   display: none;
//   width: 0;
//   height: 0;
//   border-left: 4px solid transparent;
//   border-right: 4px solid transparent;
//   border-top: 7px solid #fff;
//   margin-top: -2px;
// }

// .custom-select::after {
//   display: block;
// }

// .custom-select select {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   outline: none;
//   padding: 0.25em 0.5em;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   font-size: 16px;
//   color: inherit;
// }

// .custom-select select {
//   padding-right: 2em;
//   background: none;
//   border: 1px solid transparent;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }

// @media screen and (max-width: 43.25em) {
//   .custom-select select {
//     font-size: 14px;
//   }
// }

// .content {
//   position: absolute;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   width: 100%;
//   height: 100vh;
// }

.slices {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;

  grid-gap: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.slice {
  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow: hidden;
  // width: calc(100vw / 1);
  height: 100%;
  padding: 5em 0 5em;
  pointer-events: none;
  background: linear-gradient(200deg, #a0cfe4, #e8c37e);
}

.slice__data {
  position: relative;
  z-index: 100;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.slice__data--dateday,
.slice__data--air,
.slice__data--wind,
.slice__data--water {
  color: #4682a5;
}

.slice__data__item {
  font-size: 1.25vw;
  line-height: 1.25;
  padding: 1em;
  margin: 0;
}

.slice__data__item--city {
  padding: 0 1em;
  margin: 0 0 0.5em;
}

.slice__data__item--condition {
  padding: 0 1em;
}

.slice__data__item--day {
  padding-left: 0;
  padding-right: 0;
}

.slice__data__item--date {
  padding-left: 0.5em;
}

@media screen and (max-width: 43.25em) {
  .slice__data__item {
    font-size: 2vw;
  }
}

.slice__data__item--icon {
  width: 45px;
  padding-right: 0;
}

.slice__data,
.wstate-wrap {
  width: calc(100vw / 2.5);
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 43.25em) {
    width: calc(100vw / 4.5);
  }
}

.wstate-wrap {
  position: absolute;
  z-index: 100;
  transform: translateX(-50%);
  height: 100%;
  left: 50%;
}

.wstate {
  position: absolute;
  top: 0;
  right: -60px;
  width: 125px;
  height: 125px;
  max-height: 100%;
  opacity: 1;
}
